@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.nosotros-propuesta-de-valor .calidad, .nosotros-propuesta-de-valor .detalles, .nosotros-propuesta-de-valor .diseño, .nosotros-propuesta-de-valor .atencion, .galeria .contenedor-galeria .grid-imagen-sofia, .galeria .contenedor-galeria .grid-imagen-leila, .galeria .contenedor-galeria .grid-imagen-mariana, .galeria .contenedor-galeria .grid-imagen-candela, .galeria .contenedor-galeria .grid-imagen-vanesa, .galeria .contenedor-galeria .grid-imagen-arizona, .galeria .contenedor-galeria .grid-imagen-jesica, .galeria .contenedor-galeria .grid-imagen-andrea, .galeria .contenedor-galeria .grid-imagen-juliana {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.nosotros-propuesta-de-valor .calidad p, .nosotros-propuesta-de-valor .detalles p, .nosotros-propuesta-de-valor .diseño p, .nosotros-propuesta-de-valor .atencion p {
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: 900;
  color: #baccd6;
  position: absolute;
  bottom: 20px;
  left: 20px; }

.galeria .contenedor-galeria .grid-imagen-sofia p, .galeria .contenedor-galeria .grid-imagen-leila p, .galeria .contenedor-galeria .grid-imagen-mariana p, .galeria .contenedor-galeria .grid-imagen-candela p, .galeria .contenedor-galeria .grid-imagen-vanesa p, .galeria .contenedor-galeria .grid-imagen-arizona p, .galeria .contenedor-galeria .grid-imagen-jesica p, .galeria .contenedor-galeria .grid-imagen-andrea p, .galeria .contenedor-galeria .grid-imagen-juliana p {
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #e8ecf1;
  position: absolute;
  bottom: 20px;
  left: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2 {
  font-family: "Lora", serif;
  font-size: 52px; }

p {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin: 0; }

a {
  text-decoration: none; }

body {
  background-color: #e8ecf1; }

.boton {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #0f313f;
  border: 2px solid #0f313f;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
  border-radius: 5px; }

/*-----------------------------bootstrap navbar------------------------- */
.nav-link {
  color: #045B7D;
  font-family: "Lato", sans-serif;
  font-size: 23px;
  font-weight: 400;
  margin-left: 30px;
  transition: 0.1s; }

.nav-link:hover {
  transform: scale(1.1);
  color: #045B7D; }

.active {
  color: #045B7D !important;
  font-weight: 600; }

/* ------------------------fin de bootstrap de navbar-------------------------- */
/* ------------------------ANIMACIONES--------------------- */
@keyframes carrusel {
  0% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  50% {
    margin-left: -100%; }
  75% {
    margin-left: 0%; }
  100% {
    margin-left: 0%; } }

header {
  background-color: #baccd6;
  color: #045B7D;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10; }
  header nav {
    width: 100%;
    background-color: #baccd6;
    color: #045B7D; }
    header nav .container-fluid a h1 {
      font-size: 0px;
      background-image: url(../img/logo-bujer.png);
      width: 116px;
      height: 50px;
      display: block; }

footer {
  background-color: #baccd6;
  color: #045B7D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }
  footer img {
    width: 116px;
    height: 50px; }
  footer div a img {
    width: 42px;
    height: 42px;
    margin-left: 20px; }

.banner-inicio {
  background: url(../img/banner-vestido-negro.gif) no-repeat center;
  background-size: cover;
  height: calc(100vh - 90px);
  position: relative; }
  .banner-inicio a {
    position: absolute;
    bottom: 50px;
    left: 100px;
    background-color: #0f313f;
    color: #e8ecf1; }

.losmasvendidos-inicio {
  padding: 70px 100px;
  color: #1A3742;
  text-align: center; }
  .losmasvendidos-inicio h2 {
    text-align: center; }
  .losmasvendidos-inicio .contenedor-producto-inicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 470px;
    gap: 15px;
    margin: 75px 0; }
    .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a {
      color: #1A3742;
      font-family: "Lato", sans-serif;
      font-size: 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .carrusel-animacion {
        width: 265px;
        height: 363px;
        overflow: hidden; }
        .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .carrusel-animacion ul {
          width: 200%;
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 0; }
          .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .carrusel-animacion ul:hover {
            animation: carrusel 5s infinite; }
          .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .carrusel-animacion ul li {
            margin: auto;
            width: 50%; }
            .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .carrusel-animacion ul li img {
              width: 265px;
              height: 363px; }
      .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .texto-inicio-producto {
        margin-top: 20px; }

.vestido-a-medida {
  padding: 52px 100px;
  background-color: #9fa8b3;
  color: #1A3742;
  text-align: center; }
  .vestido-a-medida p {
    font-weight: 700;
    text-indent: 30px; }
  .vestido-a-medida ul {
    margin: 40px 0 60px 0;
    list-style: georgian; }
    .vestido-a-medida ul li {
      font-family: "Lato", sans-serif;
      font-size: 24px;
      padding: 10px;
      text-align: left; }

/* ------------------------------------tienda-------------------------------------- */
.contenedor-tienda {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 20px 52px; }
  .contenedor-tienda .dropdown {
    display: none; }
  .contenedor-tienda .tienda-filtro {
    margin-right: 20px; }
    .contenedor-tienda .tienda-filtro h2 {
      color: #1A3742;
      font-family: "Lato", sans-serif;
      font-size: 24px; }
    .contenedor-tienda .tienda-filtro ul {
      list-style: none; }
      .contenedor-tienda .tienda-filtro ul li {
        padding: 10px;
        margin: 5px 0;
        width: 190px;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        color: #1A3742;
        border: #1A3742 solid 1px; }
  .contenedor-tienda .tienda-productos {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    width: 70%; }
    .contenedor-tienda .tienda-productos .producto-tienda {
      padding: 10px; }
      .contenedor-tienda .tienda-productos .producto-tienda a img {
        width: 245px;
        height: 343px; }
      .contenedor-tienda .tienda-productos .producto-tienda a div h2 {
        color: #1A3742;
        font-family: "Lato", sans-serif;
        font-size: 24px; }
      .contenedor-tienda .tienda-productos .producto-tienda a div p {
        color: #1A3742;
        font-family: "Lato", sans-serif;
        font-size: 24px; }

.producto-vestido {
  display: flex;
  padding: 0 100px 52px 100px;
  justify-content: center;
  align-items: center;
  color: #1A3742; }
  .producto-vestido .carrusel-animacion {
    width: 436px;
    height: 578px;
    overflow: hidden; }
    .producto-vestido .carrusel-animacion ul {
      width: 200%;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      animation: carrusel 13s infinite; }
      .producto-vestido .carrusel-animacion ul li {
        margin: auto;
        width: 50%; }
        .producto-vestido .carrusel-animacion ul li img {
          width: 436px;
          height: 578px; }
  .producto-vestido .descripcion-producto-producto {
    margin-left: 100px; }
    .producto-vestido .descripcion-producto-producto h2 {
      color: #1A3742;
      margin-bottom: 15px; }
    .producto-vestido .descripcion-producto-producto p {
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: 700; }
    .producto-vestido .descripcion-producto-producto h3 {
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-size: 30px; }
    .producto-vestido .descripcion-producto-producto ul {
      list-style: none;
      margin-bottom: 30px; }
      .producto-vestido .descripcion-producto-producto ul li {
        font-family: "Lato", sans-serif;
        font-size: 20px; }
  .producto-vestido .boton-producto {
    margin-left: 0px; }

.nosotros-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 100px;
  color: #0f313f; }
  .nosotros-1 div {
    margin-right: 50px; }
    .nosotros-1 div h2 {
      margin-bottom: 20px; }
  .nosotros-1 img {
    border-radius: 20px;
    width: 50%; }

.nosotros-propuesta-de-valor {
  padding: 52px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 550px;
  gap: 20px;
  align-items: center;
  grid-template-areas: "calidad detalles diseño" "atencion texto-del-medio diseño"; }
  .nosotros-propuesta-de-valor .calidad {
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.76)), url(../img/calidad.jpg);
    grid-area: calidad; }
  .nosotros-propuesta-de-valor .detalles {
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.76)), url(../img/detalles.jpg);
    grid-area: detalles; }
  .nosotros-propuesta-de-valor .diseño {
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.76)), url(../img/vestido-de-diseño.jpg);
    grid-area: diseño; }
  .nosotros-propuesta-de-valor .atencion {
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.76)), url(../img/atencion-personalizada.jpg);
    grid-area: atencion; }
  .nosotros-propuesta-de-valor .texto-del-medio {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    grid-area: texto-del-medio;
    width: 100%; }

.galeria {
  padding: 52px;
  color: #1A3742;
  text-align: center; }
  .galeria .contenedor-galeria {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "sofia leila mariana" "candela candela mariana" "vanesa arizona jesica" "andrea juliana juliana";
    grid-auto-rows: 567px;
    gap: 20px;
    justify-content: center; }
    .galeria .contenedor-galeria .grid-imagen-sofia {
      background-image: url(../img/galeria/vestido-pedido-especial-sofia.jpg);
      grid-area: sofia; }
    .galeria .contenedor-galeria .grid-imagen-leila {
      background-image: url(../img/galeria/vestido-rojo-especial-leila.jpg);
      grid-area: leila; }
    .galeria .contenedor-galeria .grid-imagen-mariana {
      background-image: url(../img/galeria/vestido-novia-encaje-mariana.jpg);
      grid-area: mariana; }
    .galeria .contenedor-galeria .grid-imagen-candela {
      background-image: url(../img/galeria/vestido-novia-con-colores-candela-hori.jpg);
      grid-area: candela; }
    .galeria .contenedor-galeria .grid-imagen-vanesa {
      background-image: url(../img/galeria/vestido-vanesa-amarilo.jpg);
      grid-area: vanesa; }
    .galeria .contenedor-galeria .grid-imagen-arizona {
      background-image: url(../img/galeria/vestido-de-novia-arizona.jpg);
      grid-area: arizona; }
    .galeria .contenedor-galeria .grid-imagen-jesica {
      background-image: url(../img/galeria/vestido-novia-jesica.jpg);
      grid-area: jesica; }
    .galeria .contenedor-galeria .grid-imagen-andrea {
      background-image: url(../img/galeria/vestido-andrea.jpg);
      grid-area: andrea; }
    .galeria .contenedor-galeria .grid-imagen-juliana {
      background-image: url(../img/galeria/vestido-amarillo-horizontal.jpg);
      background-position: top;
      grid-area: juliana; }

.galeria-final {
  padding: 52px;
  text-align: center; }

/*!-----------------------------------------------contacto-------------------------------------------- */
.banner-contacto {
  background: url(../img/banner-vestido-rosa.gif) no-repeat top;
  background-size: cover;
  height: 400px; }

.contacto-1 {
  padding: 70px 100px; }
  .contacto-1 h2 {
    color: #0f313f;
    margin-bottom: 52px; }
  .contacto-1 .contenedor-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .contacto-1 .contenedor-contacto a div {
      color: #0f313f;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap; }
      .contacto-1 .contenedor-contacto a div i {
        margin: 10px;
        font-size: 52px;
        color: #045B7D; }
    .contacto-1 .contenedor-contacto .contacto-mail {
      margin: 10px 25px; }

.formulario {
  padding: 70px 100px;
  color: #0f313f; }
  .formulario h2 {
    margin-bottom: 52px; }
  .formulario form .form-fila {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap; }
    .formulario form .form-fila div {
      width: 400px; }
      .formulario form .form-fila div label {
        font-family: "Lato", sans-serif;
        font-size: 24px;
        color: #0f313f;
        display: block; }
      .formulario form .form-fila div .input {
        font-family: "Lato", sans-serif;
        font-size: 20px;
        color: #1A3742;
        width: 350px;
        background-color: #e8ecf1;
        border: 1px solid #0f313f;
        border-radius: 2px;
        display: block;
        margin: 10px 0 30px 0;
        padding: 8px; }
  .formulario form label {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    color: #0f313f;
    display: block; }
  .formulario form .input-comentario {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #1A3742;
    width: 100%;
    background-color: #e8ecf1;
    border: 1px solid #0f313f;
    border-radius: 2px;
    padding: 10px; }
    .formulario form .input-comentario::placeholder {
      color: #1A3742; }
  .formulario form .boton-form {
    text-align: right; }
    .formulario form .boton-form input {
      background-color: #e8ecf1;
      border: 1px solid #0f313f;
      font-family: "Lato", sans-serif;
      font-size: 20px;
      color: #1A3742;
      padding: 10px 15px 10px 15px;
      border-radius: 5px; }

.contacto-local {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #9fa8b3;
  color: #1A3742; }
  .contacto-local div {
    width: 50%;
    padding: 0 50px 0 100px; }
  .contacto-local iframe {
    width: 50%;
    height: 500px; }

/*!--------------------------------------MEDIA QUERIES------------------------------------- */
/*----------------------------------footer---------------------------------------- */
@media screen and (max-width: 520px) {
  footer {
    flex-direction: column;
    justify-content: center; }
  footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  footer div a {
    margin: 25px; }
  footer div a img {
    margin-left: 0px;
    display: block; } }

/* ----------------------------------index---------------------------------------- */
@media screen and (max-width: 1310px) {
  .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .carrusel-animacion ul li img {
    width: 235px;
    height: 333px; } }

@media screen and (max-width: 1190px) {
  .losmasvendidos-inicio .contenedor-producto-inicio {
    grid-template-columns: 1fr 1fr; }
  .vestido-a-medida p {
    text-indent: 0px; } }

@media screen and (max-width: 710px) {
  .losmasvendidos-inicio h2 {
    font-size: 35px; }
  .vestido-a-medida h2 {
    font-size: 35px; }
  .vestido-a-medida ul li {
    font-size: 20px; }
  .vestido-a-medida a {
    display: block;
    width: 250px;
    font-size: 16px;
    margin: 10px auto; }
  .vestido-a-medida ul {
    margin: 40px 0; }
  .losmasvendidos-inicio a {
    font-size: 16px; }
  .losmasvendidos-inicio,
  .vestido-a-medida {
    padding: 52px; } }

@media screen and (max-width: 590px) {
  .losmasvendidos-inicio .contenedor-producto-inicio {
    grid-template-columns: 1fr;
    margin: 55px 0; }
  .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .texto-inicio-producto h3,
  .losmasvendidos-inicio .contenedor-producto-inicio .producto-inicio a .texto-inicio-producto p {
    font-size: 20px; }
  .vestido-a-medida p {
    font-size: 20px;
    text-indent: 0px; }
  .banner-inicio a {
    position: absolute;
    bottom: 50px;
    left: 25%;
    right: 25%;
    text-align: center; } }

/* ------------------------------------tienda-------------------------------------- */
@media screen and (max-width: 920px) {
  .contenedor-tienda .tienda-filtro {
    margin-right: 0px; }
  .contenedor-tienda .tienda-filtro ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
  .contenedor-tienda .tienda-filtro ul li {
    margin: 5px; } }

@media screen and (max-width: 540px) {
  .contenedor-tienda .dropdown {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #1A3742;
    border: #1A3742 solid 1px;
    border-radius: 6px;
    margin-bottom: 50px; }
  .contenedor-tienda .dropdown-menu {
    background-color: #e8ecf1;
    color: #1A3742; }
  .contenedor-tienda .tienda-filtro {
    display: none; }
  .contenedor-tienda {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 0; }
  .contenedor-tienda .tienda-productos {
    flex-direction: column;
    align-items: center;
    width: 100%; } }

/* -----------------------------------nosotros------------------------------------ */
@media screen and (max-width: 1050px) {
  .nosotros-1 div h2 {
    font-size: 40px; }
  .nosotros-1 div p {
    font-size: 22px; }
  .nosotros-propuesta-de-valor .texto-del-medio p {
    font-size: 22px; } }

@media screen and (max-width: 970px) {
  .nosotros-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 52px 100px;
    color: #1A3742; }
  .nosotros-1 img {
    width: 100%; }
  .nosotros-1 div {
    margin-left: 0px;
    margin-bottom: 30px; }
  .nosotros-propuesta-de-valor {
    padding: 52px 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "calidad diseño" "detalles diseño" "atencion texto-del-medio "; } }

@media screen and (max-width: 750px) {
  .nosotros-propuesta-de-valor {
    padding: 52px;
    grid-template-columns: 1fr;
    grid-template-areas: "calidad" "detalles" "diseño" "atencion" "texto-del-medio "; }
  .nosotros-1 {
    padding: 52px; }
  .nosotros-propuesta-de-valor .calidad p,
  .nosotros-propuesta-de-valor .detalles p,
  .nosotros-propuesta-de-valor .diseño p,
  .nosotros-propuesta-de-valor .atencion p {
    font-size: 30px; } }

@media screen and (max-width: 500px) {
  .nosotros-1 div h2 {
    font-size: 30px; }
  .nosotros-1 div p {
    font-size: 18px; } }

/* ---------------------------------------------galeria-------------------------------------------------------- */
@media screen and (max-width: 1350px) {
  .galeria .contenedor-galeria {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 700px;
    gap: 20px;
    justify-content: center;
    grid-template-areas: "sofia mariana" "leila mariana" "candela candela" "vanesa arizona" "jesica andrea" "juliana juliana"; } }

@media screen and (max-width: 800px) {
  .galeria .contenedor-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 700px;
    gap: 20px;
    justify-content: center;
    grid-template-areas: "sofia" "leila" "mariana" "candela" "vanesa" "arizona" "jesica" "andrea" "juliana"; }
  .galeria .contenedor-galeria .grid-imagen-sofia, .galeria .contenedor-galeria .grid-imagen-leila, .galeria .contenedor-galeria .grid-imagen-mariana, .galeria .contenedor-galeria .grid-imagen-candela, .galeria .contenedor-galeria .grid-imagen-vanesa, .galeria .contenedor-galeria .grid-imagen-arizona, .galeria .contenedor-galeria .grid-imagen-jesica, .galeria .contenedor-galeria .grid-imagen-andrea, .galeria .contenedor-galeria .grid-imagen-juliana {
    background-position: top; }
  .galeria {
    padding: 30px; } }

@media screen and (max-width: 560px) {
  .galeria h2 {
    font-size: 35px; } }

@media screen and (max-width: 450px) {
  .galeria .contenedor-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
    grid-template-areas: "sofia" "leila" "mariana" "candela" "vanesa" "arizona" "jesica" "andrea" "juliana"; }
  .galeria .contenedor-galeria .grid-imagen-sofia, .galeria .contenedor-galeria .grid-imagen-leila, .galeria .contenedor-galeria .grid-imagen-mariana, .galeria .contenedor-galeria .grid-imagen-candela, .galeria .contenedor-galeria .grid-imagen-vanesa, .galeria .contenedor-galeria .grid-imagen-arizona, .galeria .contenedor-galeria .grid-imagen-jesica, .galeria .contenedor-galeria .grid-imagen-andrea, .galeria .contenedor-galeria .grid-imagen-juliana {
    background-position: top; }
  .galeria .contenedor-galeria .grid-imagen-arizona {
    background-position: center; }
  .grid-imagen-andrea {
    background-position: center; }
  .galeria .contenedor-galeria .grid-imagen-sofia p, .galeria .contenedor-galeria .grid-imagen-leila p, .galeria .contenedor-galeria .grid-imagen-mariana p, .galeria .contenedor-galeria .grid-imagen-candela p, .galeria .contenedor-galeria .grid-imagen-vanesa p, .galeria .contenedor-galeria .grid-imagen-arizona p, .galeria .contenedor-galeria .grid-imagen-jesica p, .galeria .contenedor-galeria .grid-imagen-andrea p, .galeria .contenedor-galeria .grid-imagen-juliana p {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #e8ecf1;
    position: absolute;
    bottom: 15px;
    left: 15px; } }

@media screen and (max-width: 400px) {
  .galeria h2 {
    font-size: 30px; }
  .galeria .contenedor-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 400px; }
  .galeria .contenedor-galeria .grid-imagen-sofia p, .galeria .contenedor-galeria .grid-imagen-leila p, .galeria .contenedor-galeria .grid-imagen-mariana p, .galeria .contenedor-galeria .grid-imagen-candela p, .galeria .contenedor-galeria .grid-imagen-vanesa p, .galeria .contenedor-galeria .grid-imagen-arizona p, .galeria .contenedor-galeria .grid-imagen-jesica p, .galeria .contenedor-galeria .grid-imagen-andrea p, .galeria .contenedor-galeria .grid-imagen-juliana p {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #e8ecf1;
    position: absolute;
    bottom: 15px;
    left: 15px; } }

/* -------------------------------------------contacto------------------------------------------------- */
@media screen and (max-width: 1180px) {
  .formulario h2,
  .contacto-local div h2,
  .contacto-1 h2 {
    font-size: 45px; }
  .contacto-local div p {
    font-size: 22px; } }

@media screen and (max-width: 1000px) {
  .formulario form .form-fila div .input {
    width: 100%; }
  .formulario form .form-fila div {
    width: 100%; } }

@media screen and (max-width: 950px) {
  .contacto-local div h2 {
    font-size: 40px; }
  .contacto-local div p {
    font-size: 20px; }
  .contacto-local div {
    width: 50%;
    padding: 52px; }
  .banner-contacto {
    height: 300px; } }

@media screen and (max-width: 800px) {
  .contacto-1 .contenedor-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .contacto-local {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .contacto-local div {
    width: 90%; }
  .contacto-local iframe {
    width: 80%;
    margin-bottom: 52px; }
  .contacto-1 h2 {
    text-align: center; } }

@media screen and (max-width: 670px) {
  .formulario h2,
  .contacto-local div h2,
  .contacto-1 h2 {
    font-size: 35px; }
  .contacto-1 .contenedor-contacto a div i {
    font-size: 45px; }
  .contacto-1 .contenedor-contacto a div p {
    font-size: 20px; }
  .contacto-mail {
    margin: 10px; } }

@media screen and (max-width: 565px) {
  .formulario h2,
  .contacto-local div h2,
  .contacto-1 h2 {
    font-size: 30px; }
  .contacto-local div p,
  .formulario form .boton-form input,
  .formulario form .boton-form input,
  .formulario form .input-comentario {
    font-size: 16px; }
  .input-comentario::placeholder {
    font-size: 16px; }
  .formulario form .form-fila div .input::placeholder {
    font-size: 16px; }
  .contacto-1 .contenedor-contacto a div i {
    font-size: 35px; }
  .contacto-1 .contenedor-contacto a div p {
    font-size: 16px; }
  .formulario form .form-fila div label,
  .formulario form label {
    font-size: 18px; }
  .contacto-1,
  .formulario {
    padding: 52px; }
  .contacto-1 h2 {
    margin-bottom: 30px; }
  .contacto-local div {
    width: 100%; } }

/* ------------------------------------producto--------------------------------------- */
@media screen and (max-width: 1100px) {
  .producto-vestido .descripcion-producto-producto h2 {
    font-size: 40px; }
  .producto-vestido {
    padding: 0 52px 52px 52px; }
  .producto-vestido .descripcion-producto-producto p {
    font-size: 25px; }
  .producto-vestido .descripcion-producto-producto h3 {
    font-size: 25px; } }

@media screen and (max-width: 900px) {
  .producto-vestido .descripcion-producto-producto h2 {
    font-size: 52px; }
  .producto-vestido {
    padding: 0 52px 100px 52px;
    flex-direction: column; }
  .producto-vestido .descripcion-producto-producto p,
  .producto-vestido .descripcion-producto-producto h3 {
    font-size: 30px; }
  .producto-vestido .descripcion-producto-producto {
    margin-left: 0;
    margin-top: 52px; } }

@media screen and (max-width: 650px) {
  .producto-vestido .carrusel-animacion {
    width: 100%;
    height: 100%; }
  .producto-vestido .carrusel-animacion ul li img {
    width: 100%;
    height: 100%; }
  .producto-vestido {
    padding: 0; }
  .producto-vestido .descripcion-producto-producto {
    margin: 52px 0; } }

@media screen and (max-width: 440px) {
  .producto-vestido .descripcion-producto-producto h2 {
    font-size: 40px; }
  .producto-vestido .descripcion-producto-producto p {
    font-size: 20px; }
  .producto-vestido .descripcion-producto-producto ul li {
    font-size: 16px; }
  .producto-vestido .descripcion-producto-producto h3 {
    font-size: 20px; }
  .producto-vestido .descripcion-producto-producto .boton-producto {
    text-align: center; } }
