@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    font-family: "Lora", serif;
    font-size: 52px;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e8ecf1;
}

.boton {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 600;
    /*  background-color: #0f313f;
    color: #EBE6D8; */
    color: #0f313f;
    border: 2px solid #0f313f;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

/**-----------------------------------------------header----------------------------------------------- */
header {
    background-color: #baccd6;
    color: #045B7D;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 0px;
    background-image: url(../img/logo-bujer.png);
    width: 116px;
    height: 50px;
    display: block;
}

header nav {
    width: 100%;
    background-color: #baccd6;
    color: #045B7D;
}

.nav-link {
    color: #045B7D;
    font-family: "Lato", sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin-left: 30px;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #045B7D;
}

.active {
    color: #045B7D !important;
    font-weight: 600;
}

.active:hover {
    color: #045B7D !important;
    font-weight: 600;
}

/** -----------------------------------------------footer----------------------------------------------- */
footer {
    background-color: #baccd6;
    color: #045B7D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer img {
    width: 116px;
    height: 50px;
}

footer div img {
    width: 42px;
    height: 42px;
    margin-left: 20px;
}

@media screen and (max-width:520px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }

    footer div img {
        margin-top: 20px;
        margin-left: 0px;
        display: block;
    }
}


/*?----------------------------------------------- Inicio ----------------------------------------------- */
.banner-inicio {
    background: url(../img/banner-vestido-negro.gif) no-repeat center;
    background-size: cover;
    height: calc(100vh - 90px);
    position: relative;
}

.banner-inicio a {
    position: absolute;
    bottom: 50px;
    left: 100px;
    background-color: #0f313f;
    color: #e8ecf1;
}

.losmasvendidos-inicio {
    padding: 70px 100px;
    color: #1A3742;
    text-align: center;
}

.losmasvendidos-inicio h2 {
    text-align: center;
}

.losmasvendidos-inicio .contenedor-producto-inicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 470px;
    gap: 15px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    margin: 75px 0;
}

/* .producto-inicio a{
    padding: 10px;
} */


.producto-inicio a img {
    width: 265px;
    height: 363px;
}

.producto-inicio a div {
    margin-top: 10px;
}

.producto-inicio a {
    color: #1A3742;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    text-align: center;
}

.vestido-a-medida {
    padding: 52px 100px;
    background-color: #9fa8b3;
    color: #1A3742;
    text-align: center;
}

.vestido-a-medida ul {
    margin: 40px 0 60px 0;
    list-style: georgian;
}

.vestido-a-medida p {
    font-weight: 700;
    text-indent: 30px;
}

.vestido-a-medida ul li {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    padding: 10px;
    text-align: left;
}

@media screen and (max-width:1310px) {
    .producto-inicio a img {
        width: 235px;
        height: 333px;
    }
}

@media screen and (max-width:1190px) {
    .losmasvendidos-inicio .contenedor-producto-inicio {
        grid-template-columns: 1fr 1fr;
    }

    .vestido-a-medida p {
        text-indent: 0px;
    }
}

@media screen and (max-width:710px) {
    .losmasvendidos-inicio h2 {
        font-size: 35px;
    }

    .vestido-a-medida h2 {
        font-size: 35px;
    }

    .vestido-a-medida ul li {
        font-size: 20px;
    }

    .vestido-a-medida a {
        display: block;
        width: 250px;
        font-size: 16px;
        margin: 10px auto;
    }

    .vestido-a-medida ul {
        margin: 40px 0;
    }

    .losmasvendidos-inicio a {
        font-size: 16px;
    }

    .losmasvendidos-inicio,
    .vestido-a-medida {
        padding: 52px;
    }
}

@media screen and (max-width:590px) {
    .losmasvendidos-inicio .contenedor-producto-inicio {
        grid-template-columns: 1fr;
        margin: 55px 0;
    }

    .producto-inicio a div h3,
    .producto-inicio a div p {
        font-size: 20px;
    }

    .vestido-a-medida p {
        font-size: 20px;
        text-indent: 0px;
    }
    .banner-inicio a {
        position: absolute;
        bottom: 50px;
        left: 25%;
        right: 25%;
        text-align: center;
        
    }

}

/*?----------------------------------------------- tienda-----------------------------------------------  */
.contenedor-tienda {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px 52px;
}

.tienda-filtro {
    margin-right: 20px;
}

.tienda-filtro h2 {
    color: #1A3742;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

.tienda-filtro ul {
    list-style: none;
}

.tienda-filtro ul li {
    padding: 10px;
    margin: 5px 0;
    width: 190px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #1A3742;
    border: #1A3742 solid 1px;
}

.tienda-productos {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    width: 70%;
}

.tienda-productos .producto-tienda {
    padding: 10px;
}

.tienda-productos .producto-tienda div h2 {
    color: #1A3742;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

.tienda-productos .producto-tienda div p {
    color: #1A3742;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

.tienda-productos .producto-tienda img {
    width: 245px;
    height: 343px;
}

.dropdown {
    display: none;
}

@media screen and (max-width:920px) {
    .tienda-filtro {
        margin-right: 0px;
    }

    .tienda-filtro ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .tienda-filtro ul li {
        margin: 5px;
    }
}

@media screen and (max-width:540px) {
    .dropdown {
        display: block;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        color: #1A3742;
        border: #1A3742 solid 1px;
        border-radius: 6px;
        margin-bottom: 50px;
    }

    .dropdown-menu {
        background-color: #e8ecf1;
        color: #1A3742;
    }

    .tienda-filtro {
        display: none;
    }

    .contenedor-tienda {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px 0;
    }

    .tienda-productos {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

/*?----------------------------------------------- nosotros-----------------------------------------------  */
.nosotros-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 100px;
    color: #1A3742;
}

.nosotros-1 div {
    margin-right: 50px;
}

.nosotros-1 div h2 {
    margin-bottom: 20px;
}

.nosotros-1 img {
    border-radius: 20px;
    width: 50%;
}

.nosotros-propuesta-de-valor {
    padding: 52px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 550px;
    gap: 20px;
    align-items: center;
    grid-template-areas:
        "calidad detalles diseño"
        "atencion texto-del-medio diseño"
    ;
}

.nosotros-propuesta-de-valor .grid-nosotros-item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    background-size: cover;
}

.nosotros-propuesta-de-valor .calidad {
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.76)), url(../img/calidad.jpg);
    background-repeat: no-repeat;
    grid-area: calidad;
}

.nosotros-propuesta-de-valor .detalles {
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.76)), url(../img/detalles.jpg);
    background-repeat: no-repeat;
    grid-area: detalles;
}

.nosotros-propuesta-de-valor .diseño {
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.76)), url(../img/vestido-de-diseño.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: diseño;
}

.nosotros-propuesta-de-valor .atencion {
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.76)),
        url(../img/atencion-personalizada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: atencion;
}

.texto-nosotros {
    font-family: "Lato", sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: #baccd6;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.texto-del-medio {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    grid-area: texto-del-medio;
    width: 100%;
}

@media screen and (max-width:1050px) {
    .nosotros-1 div h2 {
        font-size: 40px;
    }

    .nosotros-1 div p {
        font-size: 22px;
    }

    .texto-del-medio p {
        font-size: 22px;
    }
}

@media screen and (max-width:970px) {
    .nosotros-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 52px 100px;
        color: #1A3742;
    }

    .nosotros-1 img {
        width: 100%;
    }
    .nosotros-1 div {
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .nosotros-propuesta-de-valor {
        padding: 52px 100px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "calidad diseño"
            "detalles diseño"
            "atencion texto-del-medio "
        ;
    }

}

@media screen and (max-width:750px) {
    .nosotros-propuesta-de-valor {
        padding: 52px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "calidad"
            "detalles"
            "diseño"
            "atencion"
            "texto-del-medio "
        ;
    }

    .nosotros-1 {
        padding: 52px;
    }

    .texto-nosotros {
        font-size: 30px;
    }
}

@media screen and (max-width:500px) {
    .nosotros-1 div h2 {
        font-size: 30px;
    }

    .nosotros-1 div p {
        font-size: 18px;
    }
}

/*?----------------------------------------------- contacto-----------------------------------------------  */

.banner-contacto {
    background: url(../img/banner-vestido-rosa.gif) no-repeat top;
    background-size: cover;
    height: 400px;
}

.contacto-1 {
    padding: 70px 100px;
}

.contacto-1 h2 {
    color: #0f313f;
    margin-bottom: 52px;
}

.contenedor-contacto a div {
    color: #0f313f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-contacto a div i {
    margin: 10px;
    font-size: 52px;
    color: #045B7D;
}

.contacto-mail {
    margin: 10px 25px;
}

.contacto-1 .contenedor-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.formulario {
    padding: 70px 100px;
    color: #0f313f;
}

.formulario h2 {
    margin-bottom: 52px;
}

.formulario label {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    color: #0f313f;
    display: block;
}

.input {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #1A3742;
    width: 350px;
    background-color: #e8ecf1;
    border: 1px solid #0f313f;
    border-radius: 2px;
    display: block;
    margin: 10px 0 30px 0;
    padding: 8px;
}

.input-comentario {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #1A3742;
    width: 100%;
    background-color: #e8ecf1;
    border: 1px solid #0f313f;
    border-radius: 2px;
    padding: 10px;
}

.input-comentario::placeholder {
    color: #1A3742;
}

.form-fila {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.form-fila div {
    width: 400px;
}

.boton-form {
    text-align: right;
}

.boton-form input {
    background-color: #e8ecf1;
    border: 1px solid #0f313f;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #1A3742;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.contacto-local {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9fa8b3;
    color: #1A3742;
}

.contacto-local div {
    width: 50%;
    padding: 0 50px 0 100px;
}

.contacto-local iframe {
    width: 50%;
    height: 500px;
}

@media screen and (max-width:1180px) {

    .formulario h2,
    .contacto-local h2,
    .contacto-1 h2 {
        font-size: 45px;
    }

    .contacto-local p {
        font-size: 22px;
    }
}

@media screen and (max-width:1000px) {
    .input {
        width: 100%;
    }

    .form-fila div {
        width: 100%;
    }


}

@media screen and (max-width:950px) {
    .contacto-local h2 {
        font-size: 40px;
    }

    .contacto-local p {
        font-size: 20px;
    }

    .contacto-local div {
        width: 50%;
        padding: 52px;
    }

    .banner-contacto {
        height: 300px;
    }
}

@media screen and (max-width:800px) {
    .contacto-1 .contenedor-contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .contacto-local {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contacto-local div {
        width: 90%;
    }

    .contacto-local iframe {
        width: 80%;
        margin-bottom: 52px;
    }

    .contacto-1 h2 {
        text-align: center;
    }
}

@media screen and (max-width:670px) {

    .formulario h2,
    .contacto-local h2,
    .contacto-1 h2 {
        font-size: 35px;
    }

    .contenedor-contacto a div i {
        font-size: 45px;
    }

    .contenedor-contacto a div p {
        font-size: 20px;
    }

    .contacto-mail {
        margin: 10px;
    }

}

@media screen and (max-width:565px) {

    .formulario h2,
    .contacto-local h2,
    .contacto-1 h2 {
        font-size: 30px;
    }

    .contacto-local p,
    .boton-form input,
    .boton-form input,
    .input-comentario {
        font-size: 16px;
    }

    .contenedor-contacto a div i {
        font-size: 35px;
    }

    .contenedor-contacto a div p {
        font-size: 16px;
    }

    .formulario label {
        font-size: 18px;
    }

    .contacto-1,
    .formulario {
        padding: 52px;
    }

    .contacto-1 h2 {
        margin-bottom: 30px;
    }

    .contacto-local div {
        width: 100%;
    }
}

/*?----------------------------------------------- producto-----------------------------------------------  */
.producto-vestido {
    display: flex;
    padding: 0 100px 52px 100px;
    justify-content: center;
    align-items: center;
    color: #1A3742;
}

.producto-vestido div {
    margin-left: 100px;
}

.producto-vestido div h2 {
    color: #1A3742;
    margin-bottom: 15px;
}

.producto-vestido img {
    width: 436px;
    height: 578px;
}

.producto-vestido div p {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.producto-vestido div ul {
    list-style: none;
    margin-bottom: 30px;
}

.producto-vestido div ul li {
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.producto-vestido div h3 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 30px;
}
.producto-vestido .boton-producto {
    margin-left: 0px;
}

@media screen and (max-width:1100px) {
    .producto-vestido div h2 {
        font-size: 40px;
    }

    .producto-vestido {
        padding: 0 52px 52px 52px;
    }

    .producto-vestido div p {
        font-size: 25px;
    }

    .producto-vestido div h3 {
        font-size: 25px;
    }
}

@media screen and (max-width:900px) {
    .producto-vestido div h2 {
        font-size: 52px;
    }

    .producto-vestido {
        padding: 0 52px 100px 52px;
        flex-direction: column;
    }

    .producto-vestido div p,
    .producto-vestido div h3 {
        font-size: 30px;
    }

    .producto-vestido div {
        margin-left: 0;
        margin-top: 52px;
    }

}

@media screen and (max-width:650px) {
    .producto-vestido img {
        width: 100%;
        height: 100%;
    }

    .producto-vestido {
        padding: 0;
    }

    .producto-vestido div {
        margin: 52px 0;
    }
}

@media screen and (max-width:440px) {
    .producto-vestido div h2 {
        font-size: 40px;
    }

    .producto-vestido div p {
        font-size: 20px;
    }

    .producto-vestido div ul li {
        font-size: 16px;
    }

    .producto-vestido div h3 {
        font-size: 20px;
    }

    .boton-producto {
        text-align: center;
    }

}


/*?----------------------------------------------- galeria-----------------------------------------------  */
.galeria {
    padding: 52px;
    color: #1A3742;
    text-align: center;
}

.contenedor-galeria {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "sofia leila mariana"
        "candela candela mariana"
        "vanesa arizona jesica"
        "andrea juliana juliana"
    ;
    grid-auto-rows: 567px;
    gap: 20px;
    justify-content: center;
}

.grid-galeria-imagen .texto-grid-galeria {
    font-family: "Lato", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #e8ecf1;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.grid-galeria-imagen {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}


.grid-imagen-sofia {
    background-image: url(../img/galeria/vestido-pedido-especial-sofia.jpg);
    grid-area: sofia;
}

.grid-imagen-leila {
    background-image: url(../img/galeria/vestido-rojo-especial-leila.jpg);
    grid-area: leila;
}

.grid-imagen-mariana {
    background-image: url(../img/galeria/vestido-novia-encaje-mariana.jpg);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    /* grid-row: span 2; */
    grid-area: mariana;
}

.grid-imagen-candela {
    background-image: url(../img/galeria/vestido-novia-con-colores-candela-hori.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    /* grid-column: span 2; */
    grid-area: candela;
}

.grid-imagen-vanesa {
    background-image: url(../img/galeria/vestido-vanesa-amarilo.jpg);
    grid-area: vanesa;
}

.grid-imagen-arizona {
    background-image: url(../img/galeria/vestido-de-novia-arizona.jpg);
    grid-area: arizona;
}

.grid-imagen-jesica {
    background-image: url(../img/galeria/vestido-novia-jesica.jpg);
    grid-area: jesica;
}

.grid-imagen-andrea {
    background-image: url(../img/galeria/vestido-andrea.jpg);
    grid-area: andrea;
}

.grid-imagen-juliana {
    background-image: url(../img/galeria/vestido-amarillo-horizontal.jpg);
    border-radius: 20px;
    /* grid-column: span 2; */
    background-position: top;
    background-size: cover;
    grid-area: juliana;
}
.galeria-final{
    padding: 52px;
    text-align: center;
}

@media screen and (max-width:1350px) {
    .contenedor-galeria {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 700px;
        gap: 20px;
        justify-content: center;
        grid-template-areas:
            "sofia mariana"
            "leila mariana"
            "candela candela"
            "vanesa arizona"
            "jesica andrea"
            "juliana juliana"
        ;
    }
}

@media screen and (max-width:800px) {
    .contenedor-galeria {
        grid-template-columns: 1fr;
        grid-auto-rows: 700px;
        gap: 20px;
        justify-content: center;
        grid-template-areas:
            "sofia"
            "leila"
            "mariana"
            "candela"
            "vanesa"
            "arizona"
            "jesica"
            "andrea"
            "juliana"
        ;
    }

    .grid-galeria-imagen {
        background-position: top;
    }

    .galeria {
        padding: 30px;
    }
}

@media screen and (max-width:560px) {
    .galeria h2 {
        font-size: 35px;
    }
}

@media screen and (max-width:450px) {
    .contenedor-galeria {
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
        grid-template-areas:
            "sofia"
            "leila"
            "mariana"
            "candela"
            "vanesa"
            "arizona"
            "jesica"
            "andrea"
            "juliana"
        ;
    }

    .grid-galeria-imagen {
        background-position: top;
    }

    .grid-imagen-arizona {
        background-position: center;
    }

    .grid-imagen-andrea {
        background-position: center;
    }

    .grid-galeria-imagen .texto-grid-galeria {
        font-family: "Lato", sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: #e8ecf1;
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
}

@media screen and (max-width:400px) {
    .galeria h2 {
        font-size: 30px;
    }

    .contenedor-galeria {
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
    }

    .grid-galeria-imagen .texto-grid-galeria {
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #e8ecf1;
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
}