footer {
    background-color: nth($colores, 4);
    color: nth($colores, 1);
    @include flex (flex, space-between, center, nowrap);
    padding: 20px;
    img {
        width: 116px;
        height: 50px;
    }

    div {
        a {
            img {
                width: 42px;
                height: 42px;
                margin-left: 20px;
            }
        }
    }
}