/* ---------------------------------------producto---------------------------------------- */

.producto-vestido {
    @include flex (flex, center, center, nowrap);
    padding: 0 100px 52px 100px;
    color: nth($colores, 3);

    .carrusel-animacion {
        width: 436px;
        height: 578px;
        overflow: hidden;

        ul {
            width: 200%;
            list-style: none;
            @include flex (flex, center, center, nowrap);
            padding-left: 0;
            animation: carrusel 13s infinite;

            li {
                margin: auto;
                width: 50%;

                img {
                    width: 436px;
                    height: 578px;
                }
            }
        }
    }

    
    .descripcion-producto-producto {
        margin-left: 100px;

        h2 {
            color: nth($colores, 3);
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 40px;
            font-size: 30px;
            font-weight: 700;
        }

        h3 {
            text-transform: uppercase;
            font-family: "Lato", sans-serif;
            font-size: 30px;
        }

        ul {
            list-style: none;
            margin-bottom: 20px;

            li {
                font-family: "Lato", sans-serif;
                font-size: 20px;
            }
        }
        .texto-envio{
            font-family: "Lato", sans-serif;
                font-size: 20px;
                margin-bottom: 30px;
                font-weight: 400;
                text-indent: 10px;
                strong{
                    font-size: 25px;
                }
        }
        .boton-producto {
            margin-left: 0px;
    
            a {}
        }
    }

}